<h1>Branding</h1>
<div class="content">
  <a name="Logo"></a>
  <h2>The Logo Design</h2>
  <div class="section">
    <h3>Primary Logo</h3>
    <p>
    <img src="/images/branding/logo_example.png" alt="Logo Example">
    </p>
    <p>
      <a class="button" href="/resources/logo-vector.eps">Download .eps</a>
    </p>
  </div>
  <div class="section">
    <h3>Specifications</h3>
    <p>
    <img src="/images/branding/logo_margin.png" alt="Logo Example">
    </p>
    <p>
      <span style="color: #00afec;">Blue</span> outline indicates minimum clear space. This area must be kept free of all other elements.
    </p>
    <p>
      The minimum required clear space is 25% of the total height of the logo.
    </p>
  </div>
  <div class="section">
    <h3>Alternative Logo Versions</h3>
    <h4>The logo in solid black</h4>
    <p>
    <img src="/images/branding/logo_example_black.png" alt="Logo Example">
    </p>
    <p>
      <a class="button" href="/resources/logo_black.eps">Download .eps</a>
    </p>
    <h4>The logo in solid white</h4>
    <p>
    <img src="/images/branding/logo_example_white.png" alt="Logo Example">
    </p>
    <p>
      <a class="button" href="/resources/logo_white.eps">Download .eps</a>
    </p>
  </div>
  <div class="section">
    <h3>Minimum Logo Size</h3>
    <p>
    <img src="/images/branding/logo_min_width.png" alt="Logo Example">
    </p>
  </div>
  <div class="section">
    <h3>Social Media Icon and Website Favicon</h3>
    <p>
    <img src="/images/branding/social_media_icon.png" alt="Logo Example">
    </p>
    <p>
      <a href="/resources/logo_social_media.eps">Download .eps</a>
    </p>
  </div>
  <a name="color_palette"></a>
  <h2>The Color Palette </h2>
  <div class="section">
    <h3>Primary Colors</h3>
    <div class="colors">
      <div class="color blue">
      </div>
      <p>
        Pantone DS 238-5 U<br/>
        C: 60 M:5 Y:15 K:25<br/>
        R: 63 G:154 B:170<br/>
        #3f9aaa
      </p>
    </div>
    <div class="colors">
      <div class="color green">
      </div>
      <p>
        Pantone DS 311-3 U<br/>
        C:15 M:0 Y:75 K:20<br/>
        R:181 G:192 B:52<br/>
        #b5c034
      </p>
    </div>
  </div>
  <div class="section">
    <h3>Grayscale Color</h3>
    <div class="colors">
      <div class="color white">
      </div>
      <p>
        C: 0 M:0 Y:0 K:0<br/>
        R: 255 G:255 B:255<br/>
        #FFFFFF
      </p>
    </div>
    <div class="colors">
      <div class="color black">
      </div>
      <p>
        C:0 M:0 Y:0 K:100<br/>
        R:0 G:0 B:0<br/>
        #000000
      </p>
    </div>
  </div>
</div>
