<h1>Markup</h1>
<div class="content">
  <h2>HTML</h2>
  <a name="guidelines"></a>
  <div class="section">
    <h3>Guidelines</h3>
    <ul>
      <li>Paragraphs should always be in &lt;p&gt; tags (do not use multiple &lt;br/&gt; to separate paragraphs).</li>
      <li>List should always be in &lt;ul&gt;, &lt;ol&gt;, or &lt;dl&gt; tags.</li>
      <li>Name things semantically. Think about what the object actually is.</li>
    </ul>
  </div>
  <a name="headings"></a>
  <div class="section">
    <h3>Headings</h3>
    <ul>
      <li>&lt;h1&gt; Only use once(not for logos).</li>
      <li>&lt;h1&gt; is for content not for images.</li>
      <li>You may use all other headers as needed.</li>
      <li>Use order of significance as you go down the headers.</li>
      </li>
    </ul>
  </div>
  <a name="specificity"></a>
  <div class="section">
    <h3>Specificity</h3>
    <h4>Id's Vs Classes</h4>
    <ul>
      <li>Id's only use once per page.</li>
      <li>Classes: mark up similar items...similarly.</li>
      <li>Give everything a description.</li>
      <li>Make it make sense for what it does, not what it looks like. (ex: not (redText) use (notice warning))</li>
    </ul>
    
  </div>
  <a name="do_nots"></a>
  <div class="section">
    <h3>Do Nots</h3>
    <h4>Do not give different id's to the same element on different pages.</h4>
    <ul>
      <li>Give them a universal class.</li>
      <li>Creating multiple id's just creates unnecessary code for everyone and becomes a nightmare for maintainability.</li> 
    </ul>
    <h4>The internet is...THE INTERNET</h4>
    <ul>
      <li>Do not use different id's and classes depending on device.</li>
      <li>Do not use device detection use feature detection to account for the future.</li>
      <ul>
        <li>If necessary only apply specific device classes to body tag and keep all other structure the same.</li>
      </ul>
      <li>Do not create extra html when you do not have to.</li>
      <li>Do not put text in ALL CAPS, that can be done with css if necessary.</li> 
    </ul>
  </div>
</div>
