<h1>Overview</h1>
<div class="content">
  <div class="section">
    <h2>Welcome to the Movitas Living Style Guide</h2>
    <p>This style guide is meant to serve as reference for all Movitas branding guidelines, CSS Styling, and HTML Markup. It is meant to be used for all designers and developers working on the Movitas Platform.</p>
  </div>
  <div class="section">
    <h3>The web can be complicated... so lets not be.</h3>
    <ul>
      <li>Make it simple.</li>
      <li>Make it readable.</li>
      <li>Make it understandable.</li>
      <li>Make it maintainable.</li>
    </ul>
  </div>
  <div class="section">
    <h3>Contents:</h3>
    <h4>Branding</h4>
    <ul>
      <li><a href="/pages/branding#logo">Logo</a></li>
      <li><a href="/pages/branding#color_palette">Color Palette</a></li>
      <!-- <li>Fonts</li> -->
    </ul>
    <h4>Styling</h4>
    <ul>
      <li><a href="/pages/styling#file_stack">File Stack</a></li>
      <li><a href="/pages/styling#naming_conventions">Naming Conventions</a></li>
      <li><a href="/pages/styling#sass">SASS</a></li>
      <li><a href="/pages/styling#do_nots">Do Not's</a></li>
    </ul>
    <h4>Markup</h4>
    <ul>
      <li><a href="/pages/markup#guidelines">HTML Guidelines</a></li>
      <li><a href="/pages/markup#headings">Headings</a></li>
      <li><a href="/pages/markup#spceificity">Specificity</a></li>
    </ul>
  </div>
  <div class="section">
    <h4>More coming all the time...</h4>
    <p>To track status of updated visit <a href="https://trello.com/board/system-updates/4f94b963c30113b97a559e23" target="_blank">System Updates on Trello</a></p>
  </div>
</div>