<h1>Welcome to the Movitas Living Style Guide</h1>
<div class="content">
  <p>This includes our branding guidelines and also some brief introduction to writing proper code for designers and developers on the Movitas Platform.</p>
</div>