<h1>Styling</h1>
<div class="content">
  <h2>CSS</h2>
  <a name="file_stack"></a>
  <div class="section">
    <h3>File Stack</h3>
    <h4>Current File Stack</h4>
    <p>Our current structure has a common.css file that is used for all businesses and a dynamic.css file with a reset.css imported into it.</p>
    <ul>
      <li>common.css</li> 
      <li>reset.css</li>
      <li>dynamic.css</li>
    </ul>
    <h4>What we should have</h4>
    <p>We should be applying reset.css before the common.css to ensure that we are starting at an even playing field for all browsers.</p>
    <ul>
      <li>reset.css</li>
      <li>common.css</li> 
      <li>dynamic.css</li>
    </ul>
  </div>
  <a name="naming_conventions"></a>
  <div class="section">
    <h3>Naming Conventions</h3>
    <h4>camelCase</h4>
    <p>camelCase, also known as lower camelCase, should be used for all id's and classes</p>
  </div>
</div>
